<div class="container">
  <form class="login-form">
    <h1>{{title}}</h1>
    {{{inputLogin}}}
    {{{inputPassword}}}
    <div class="button-container">
      {{{buttonSubmit}}}
      {{{buttonCreate}}}
    </div>
  </form>
</div>