<div class="userName">Имя</div>
<form class="userInfo">
  <div class="infoContainer">
    {{{infoRowOldPassword}}}
    {{{infoRowNewPassword}}}
    {{{infoRowNewPasswordRepeat}}}
    {{{infoRowEmail}}}
    {{{infoRowLogin}}}
    {{{infoRowFirstName}}}
    {{{infoRowSecondName}}}
    {{{infoRowDisplayName}}}
    {{{infoRowPhone}}}
  </div>
  <div class="buttonContainer">
    {{{buttonSave}}}
  </div>
</form>