<div class="formContainer">
  <div class="userName">{{userName}}</div>
  <form class="userInfo">
    <div class="infoContainer">
      {{{infoRowOldPassword}}}
      {{{infoRowNewPassword}}}
      {{{infoRowNewPasswordRepeat}}}
      {{{infoRowEmail}}}
      {{{infoRowLogin}}}
      {{{infoRowFirstName}}}
      {{{infoRowSecondName}}}
      {{{infoRowDisplayName}}}
      {{{infoRowPhone}}}
    </div>
    <div class="buttonContainer">
      {{{buttonSave}}}
      {{{buttonChangePassword}}}
      {{{buttonChangeUserInfo}}}
    </div>
  </form>
</div>