<div class="form-container">
  <div class="user-name">{{userName}}</div>
  <form class="user-info">
    <div class="info-container">
      {{{infoRowOldPassword}}}
      {{{infoRowNewPassword}}}
      {{{infoRowNewPasswordRepeat}}}
      {{{infoRowEmail}}}
      {{{infoRowLogin}}}
      {{{infoRowFirstName}}}
      {{{infoRowSecondName}}}
      {{{infoRowDisplayName}}}
      {{{infoRowPhone}}}
    </div>
    <div class="button-container">
      {{{buttonSave}}}
      {{{buttonChangePassword}}}
      {{{buttonChangeUserInfo}}}
    </div>
  </form>
</div>