<div class="container">
  <form class="loginForm">
    <h1>{{title}}</h1>
    {{{inputEmail}}}
    {{{inputLogin}}}
    {{{inputFirstName}}}
    {{{inputSecondName}}}
    {{{inputPhone}}}
    {{{inputPassword}}}
    {{{inputPasswordRepeat}}}
    <div class="buttonContainer">
      {{{buttonSubmit}}}
      {{{buttonCreate}}}
    </div>
  </form>
</div>