<div class="info-row-container">
  <span class="info-name">{{infoName}}</span>
  {{#if isEditable}}
    <div class="input-container">
      <input
        class="info-input"
        type="{{type}}"
        value="{{user}}"
        name="{{name}}"
        placeholder="{{placeholder}}"
      />
      <span class="error-message">{{error}}</span>
    </div>
  {{else}}
    <span class="info-data">{{value}}</span>
  {{/if}}
</div>