<div class="infoRowContainer">
  <span class="infoName">{{infoName}}</span>
  {{#if isEditable}}
    <div class="inputContainer">
      <input
        class="infoInput"
        type="{{type}}"
        value="{{value}}"
        name="{{name}}"
        placeholder="{{placeholder}}"
      />
      <span class="errorMessage">{{error}}</span>
    </div>
  {{else}}
    <span class="infoData">{{value}}</span>
  {{/if}}
</div>