<div class="container">
  <div class="back-container">
    <div class="back">
      {{{buttonBack}}}
    </div>
  </div>
  <div class="user-info-container">
    <div class="user-avatar-container">
      <div class="user-avatar">
        <input
          class="file-upload"
          type="file"
          id="file-upload"
          onchange="handleFileUpload(event)"
        />
      </div>
    </div>
    <div class="form-container">
      <div class="user-name">{{userName}}</div>
      <form class="user-info">
        <div class="info-container">
          {{#each input}}
            {{{this}}}
          {{/each}}
        </div>
        <div class="button-container">
          {{{buttonChangePassword}}}
          {{{buttonChangeUserInfo}}}
          {{{buttonLogout}}}
        </div>
      </form>
    </div>
  </div>
</div>