<div class="container-user-profile">
  <div class="back-container">
    <div class="back">
      {{{buttonBack}}}
    </div>
  </div>
  <div class="user-info-container">
    <div>
      {{{userAvatar}}}
    </div>
    <div class="form-container">
      <div class="user-name">{{userName}}</div>
      <form class="user-info">
        <div class="info-container">
          {{#each input}}
            {{{this}}}
          {{/each}}
        </div>
        <div class="button-container">
          {{{buttonChangePassword}}}
          {{{buttonChangeUserInfo}}}
          {{{buttonLogout}}}
          {{{buttonSaveChange}}}
        </div>
      </form>
    </div>
  </div>
  {{{modal}}}
</div>